body {
font-family: Arial;
margin:0;
background:#0f172a;
color:white;
}

header {
background:#020617;
padding:40px;
text-align:center;
}

section {
padding:40px;
max-width:900px;
margin:auto;
}

h2 {
color:#38bdf8;
}

ul {
list-style:none;
padding:0;
}

li {
padding:5px 0;
}

.project {
background:#020617;
padding:15px;
margin:15px 0;
border-radius:8px;
}

a {
color:#38bdf8;
text-decoration:none;
}

footer {
text-align:center;
padding:20px;
background:#020617;
}
